html, body{
  background: black;
}

.grid-container {
  display: flex;
  flex-direction: row;
}

.grid-container > div {
  border: 1px solid black;
  text-align: auto;
}

#wrap {
  flex: .85;
  margin: 30px;
  height: 200px;
}
#scenetext, #question, #questionAnswer {
  background: darkgray;
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 10px;
}
#scenetext img {
  max-width: 100%;
  border: 1px solid lightgrey;
}
#question {
  background-color: aquamarine;
  border: 1px solid lightgrey;
}

#questionAnswer {
  background-color: darkgreen;
  border: 1px solid lightgrey;
}
#stats {
  div.relative{
  position: relative;
  bottom: 1; 
}
  flex: .15;
  height: 89vh;
  background: purple;
  border: 1px solid lightgrey;
  border-radius: 5px;
  padding: 5px;
  overflow: scroll;
  overflowColor: #CBC3E3
}