html, body{
  background: black;
}

#wrap {
  min-width: 500px;
  max-width: 40%;
  margin: auto;
}
#scenetext, #question, #questionAnswer {
  background: darkgray;
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 10px;
}
#scenetext img {
  max-width: 100%;
  border: 1px solid lightgrey;
}
#question {
  background-color: aquamarine;
  border: 1px solid lightgrey;
}

#questionAnswer {
  background-color: darkgreen;
  border: 1px solid lightgrey;
}
#stats {
  background: purple;
  border: 1px solid lightgrey;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 10px
}

.column {
  float: left;
  padding: 10px;
}
.column.middle {
    width: 100%;
  }
.column.right {
    width: 25%;
  }